@import '../../../../styles/colors';


    .info {
      color: $white;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 1.5rem;

      h3 {
        color: $callToAction;
      }
    }

    span {
      overflow-wrap: anywhere;
    }
