@import './colors';

* {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background;
}

input[type='email'],
input[type='password'],
input[type='text'],
textarea {
  outline: none;
  border: none;
}

svg {
  color: $link;
  cursor: pointer;

  &:hover {
    color: $callToAction;
  }
}

button {
  background-color: $primary;
  border-radius: 8px;
  color: $white;
  font-size: 1.2rem;
  line-height: 4rem;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }

  &:disabled {
    background-color: $disabledColor;
    cursor: not-allowed;
  }
}