@import '../../styles/colors';

.dragonListWrapper {
  display: flex;
  flex-direction: column;
  min-height: 88vh;
  justify-content: space-between;
  background: $primaryDark;
  margin-top: 12vh;

  .contentWrapper {
    display: flex;
    flex-direction: column;
    align-self: center;
    flex-grow: 1;
    padding: 1rem;
    width: 100%;
    flex-wrap: wrap;

    h2 {
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 1.2rem;
      color: $white;
    }
  }
}

@media only screen and (min-width: 400px) {
  .dragonListWrapper {
    .contentWrapper {
      width: 100%;
      max-width: 80vw;
      padding: 3rem 0 0 0;
      .dragonContent {
        .dragonInfoWrapper {
          justify-content: center;
          margin: 0 !important;
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .dragonListWrapper {
    .contentWrapper {
      max-width: 80vw;
      ul {
        flex-direction: row;
        li {
          flex-basis: 48%;
        }
      }
    }
  }
}
