@import "../../styles/colors";
@import "../../styles/config";

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: $primary;
  height: 100vh;
  text-align: left;
  padding: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
  z-index: $zIndex-sideBar;

  .greeting {
    position: absolute;
    color: $white;
    font-size: 1.5rem;
    top: 3vh;
    right: 2rem;
  }

  &[data-status="open"] {
    transform: translateX(0);
  }

  &[data-status="closed"]:focus-within {
    transform: translateX(-100%);
  }

  
  @media (max-width: 600px) {
    width: 100%;
  }

  a, span {
    font-size: 2rem;
    text-transform: uppercase;
    padding: 2rem 0;
    font-weight: bold;
    letter-spacing: 0.5rem;
    color: $white;
    text-decoration: none;
    transition: color 0.3s linear;
    
    @media (max-width: 600px) {
      font-size: 1.5rem;
      text-align: center;
    }

    &:hover {
      color: $link;
    }
  }
}