@import '../../styles/colors';
@import '../../styles/config';

.headerWrapper {
  display: flex;
  justify-content: center;
  background-color: $primary;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
  z-index: $zIndex-header;

  .headerContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  img {
    width: 4rem;
  }

  h2 {
    font-size: 1.1rem;
    font-weight: bold;
  }

  .logoutWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    span {
      font-size: 1rem;
      margin-bottom: .5rem;
    }

    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .headerContent {
    max-width: 80vw;
  }
}