@import '../../styles/colors';
@import '../../styles/config';
$maxWidth: 80vw;

.headerWrapper {
  display: flex;
  justify-content: center;
  background-color: $primary;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
  z-index: $zIndex-header;

  .headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $maxWidth;
    flex-grow: 1;
  }

  img {
    width: 4rem;
  }

  h2 {
    font-size: 1.1rem;
    color: $white;
    font-weight: bold;
  }

  .logoutWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    color: $white;
    span {
      font-size: 1rem;
      margin-bottom: .5rem;
    }

    a {
      color: $white;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.mainContent {
  margin-top: 5rem;
}
